@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Sahar Moalem</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Sahar Moalem</h1>
    <p>
        Hi, my name is Sahar Moalem. Welcome to my personal website page.
        <br />Hope you enjoy my website!
    </p>
    <div class="row">
        <div class="column">
            <img src="~/Images/Batman.png" alt="Batman" style="width:30%">
        </div>
        <div class="column">
            <img src="~/Images/MyPhoto.jpg" alt="Picture of me" style="width:70%; border-radius: 70%;">
        </div>
        <div class="column">
            <img src="~/Images/avatar.png" alt="My avatar" style="width:110%">
        </div>
    </div>
</body>
</html>
